<main class="container">
  <div class="row">
    <div class="col col-4">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar) %>
      <% end %>
    </div>
    <div class="col col-8">
      <h1><%= @user.name %>'s info</h1>
      <p>Location: <%= @user.location %></p>

      <%= link_to "Edit Profile", edit_user_path, class: "btn btn-primary" %>

      <%= link_to "Delete Your Account", @user, method: :delete,
                            data: { confirm: "You sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
</main>
