<div class="card h-100 mb-3">
<div class="row no-gutters">
    <div class="col-md-2">
      <img src="https://dummyimage.com/300x300/6d6e73/fff" class="card-img" alt="photo for restaurant">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-sm-5">
            <h5 class="card-title">
              <span><%= index + 1 %>.</span>
              <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
            </h5>

            <p class="card-text mt-n3">
              <% restaurant.categories.map(&:name).each do |category| %>
              <span class="small">
                <%= link_to category, search_path({restaurant: {name: category}}) %><%= "," unless category == restaurant.categories.map(&:name).last %>
              </span>
              <% end %>
            </p>

            <% if total_ratings(restaurant.reviews) > 0 %>
              <p class="card-text">Overall Rating: <%= average_rating(sum_of_ratings(restaurant.reviews), total_ratings(restaurant.reviews))  %> (<%= restaurant.reviews.count %> reviews)</p>
            <% end %>
          </div>
          <div class="col-sm-5">
            <p class="card-text search-result-address small text-wrap">
              <%= restaurant.address %>
            </p>

            <p class="card-text search-result-address small mt-n3">
              <%= restaurant.phone_number %>
            </p>
          </div>
        </div>

        <% if restaurant.reviews.tag_counts.count > 0 %>
        <div class="mt-3">
          <h6 class="tags-title">What users said about this location...</h6>
          <ul class="tags">
           <% tag_cloud restaurant.reviews.tag_counts, [] do |tag, _| %>
           <li><%= tag.name %></li>
           <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
 </div>
