<main>
  <section class="jumbotron text-center">
    <div class="container-fluid">
      <h1>Search for a Drive Thru</h1>
		<%= form_tag "/search", method: "get" do %>
			<div class="form-row">
				<div class="col-md-3">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<%= label_tag :chain %>
						</div>
						<%= select_tag 'restaurant[chain]', options_for_select([
            ["McDonald's", 'mcdonalds'],
            ["Starbucks", 'starbucks'],
            ["Taco Bell", 'taco_bell'],
            ["Chick-fil-A", 'chick_fil_a'],
            ["Wendy's", 'wendys'],
            ["Burger King", 'burger_king'],
            ["Dunkin'", 'dunkin'],
            ["Panera Bread", 'panera'],
            ["Sonic Drive-in", 'sonic'],
            ["KFC", 'kfc'],
            ["Arby's", 'arbys'],
            ["Dairy Queen", 'dairy_queen'],
            ["Jack In The Box", 'jack_in_the_box'],
            ["Popeyes", 'popeyes'],
            ["Other", 'other']
            ]), {include_blank: true, class: 'form-control'} %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<%= label_tag :name, "Categories" %>
						</div>
						<%= select_tag 'restaurant[name]', options_for_select(Category.all), {include_blank: true, class: 'form-control'} %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<%= label_tag :address %>
						</div>
						<%= text_field_tag 'restaurant[address]', nil, class: 'form-control' %>
					</div>
				</div>
        <div class="col-md-3">
			    <%= submit_tag 'Find A Drive Thru' %>
        </div>
      </div>
		<% end %>
    </div>
    </section>
    <section>
      <h2>Or search by category</h2>
      <div class="row">
      <% Category.all.map(&:name).each do |category| %>
        <div class="col-md-4">
          <img src="https://placeholder.pics/svg/300" alt="..." class="img-thumbnail">
          <h3><%= link_to category, search_path({restaurant: {name: category}}) %></h3>
        </div>
      <% end %>
      </div>
    </section>
	</main>
	<footer> </footer>
</div>
