<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">DriveThruGuru</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <%= form_tag "/search", method: "get" do %>
      <div class="form-group">
        <%= label_tag :chain %>
        <%= select_tag 'restaurant[chain]', options_for_select([
        ["McDonald's", 'mcdonalds'],
        ["Starbucks", 'starbucks'],
        ["Taco Bell", 'taco_bell'],
        ["Chick-fil-A", 'chick_fil_a'],
        ["Wendy's", 'wendys'],
        ["Burger King", 'burger_king'],
        ["Dunkin'", 'dunkin'],
        ["Panera Bread", 'panera'],
        ["Sonic Drive-in", 'sonic'],
        ["KFC", 'kfc'],
        ["Arby's", 'arbys'],
        ["Dairy Queen", 'dairy_queen'],
        ["Jack In The Box", 'jack_in_the_box'],
        ["Popeyes", 'popeyes'],
        ["Other", 'other']
        ]), class: 'form-control mb-2' %>
      </div>

      <div class="form-group">
        <%= label_tag :name, "Categories" %>
        <%= select_tag 'restaurant[name]', options_for_select(Category.all), {class: 'form-control'} %>
      </div>

      <div class="form-group">
        <%= label_tag :address %>
        <%= text_field_tag 'restaurant[address]', nil, class: 'form-control' %>
      </div>

      <%= submit_tag 'Find A Restaurant' %>
    <% end %>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>
