<div class="container">
  <h1>Enter a new restaurant</h1>
  <%= form_with(model: @restaurant, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :chain %>
      <%= f.select :chain, options_for_select([
      ["McDonald's", 'mcdonalds'],
      ["Starbucks", 'starbucks'],
      ["Taco Bell", 'taco_bell'],
      ["Chick-fil-A", 'chick_fil_a'],
      ["Wendy's", 'wendys'],
      ["Burger King", 'burger_king'],
      ["Dunkin'", 'dunkin'],
      ["Panera Bread", 'panera'],
      ["Sonic Drive-in", 'sonic'],
      ["KFC", 'kfc'],
      ["Arby's", 'arbys'],
      ["Dairy Queen", 'dairy_queen'],
      ["Jack In The Box", 'jack_in_the_box'],
      ["Popeyes", 'popeyes'],
      ["Other", 'other']
      ]), class: 'form-control mb-2' %>
    </div>

    <div class="form-group">
      <%= f.label :categories %>
      <%= f.select :categories, options_for_select(Category.all), {include_hidden: false}, {multiple: true, class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :business_hours, "Hours of Operation" %>
      <div class="form-group">
        <%= f.fields_for :business_hours do |hours| %>
        <div class="form-group">
          <%= hours.label :day, hours.object.day %>
          <%= hours.hidden_field :day, value: hours.object.day %>
          <%= hours.select :open_at, options_for_select([
            ["12AM"], ["1AM"],
            ["2AM"], ["3AM"],
            ["4AM"], ["5AM"],
            ["6AM"], ["7AM"],
            ["8AM"], ["9AM"],
            ["10AM"], ["11AM"],
            ["12PM"], ["1PM"],
            ["2PM"], ["3PM"],
            ["4PM"], ["5PM"],
            ["6PM"], ["7PM"],
            ["8PM"], ["9PM"],
            ["10PM"], ["11PM"]
            ]), class: 'form-control' %>
          <span>to</span>
          <%= hours.select :close_at, options_for_select([
              ["12AM"], ["1AM"],
              ["2AM"], ["3AM"],
              ["4AM"], ["5AM"],
              ["6AM"], ["7AM"],
              ["8AM"], ["9AM"],
              ["10AM"], ["11AM"],
              ["12PM"], ["1PM"],
              ["2PM"], ["3PM"],
              ["4PM"], ["5PM"],
              ["6PM"], ["7PM"],
              ["8PM"], ["9PM"],
              ["10PM"], ["11PM"]
              ]), class: 'form-control' %>
              </div>
          <% end %>
      </div>
    </div>
    <%= submit_tag 'New Restaurant' %>
  <% end %>
</div>
