<div class="container-fluid">
  <header class="restaurant_header">
    <h1><%= @restaurant.name %></h1>
    <div>
      <% @restaurant.categories.map(&:name).each do |category| %>
      <span><%= link_to category, search_path({restaurant: {name: category}}) %>, </span>
      <% end %>

      <% if total_ratings(@restaurant.reviews) > 0 %>
        <div>Overall Rating: <%= average_rating(sum_of_ratings(@restaurant.reviews), total_ratings(@restaurant.reviews))  %></div>
      <% end %>
    </div>
    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>
      &q=<%= @restaurant.name %> <%= @restaurant.address %>" allowfullscreen>
    </iframe>

    <section>
      <h2>Location and Hours</h2>
    <div class="row">
      <div class="col">
        <div><%= @restaurant.address %></div>
        <div><%= @restaurant.phone_number %></div>
      </div>
      <div class="col">
      <table>
        <thead>
          <tr>
            <th>Day of the Week</th>
            <th>Opens At</th>
            <th>Closes At</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurant.business_hours.each do |day| %>
          <tr>
            <td><%= day.day %></td>
            <td><%= day.open_at.strftime("%H:%M %p") %></td>
            <td><%= day.close_at.strftime("%H:%M %p") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      </div>
      </section>
      <div>
        <%= link_to "Write a Review", new_review_path(restaurant_id: params[:id]), class: 'btn btn-primary mt-3 mb-3' %>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">What users said about this location...</h5>
          <ul class="tag_list">
            <% tag_cloud @restaurant.reviews.tag_counts, [] do |tag, _| %>
            <li class="tag_item"><%= tag.name %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <% if @restaurant.reviews.select { |review| review.images.attached? }.count > 0 %>
      <div>
        <h2>User Photos</h2>
        <% @restaurant.reviews.select { |review| review.images.attached? }.map { |review| review.images }.flatten.each do |image| %>
          <%= image_tag image, size: "200x200", class: 'img-thumbnail' %>
        <% end %>
      </div>
      <% end %>
  </header>
  <main>
    <h2>Reviews</h2>
    <% if @restaurant.reviews.count > 0 %>
      <% @restaurant.reviews.each do |review| %>
    <div class="review">
      <div class="row">
        <div class="col">
          <div class="media">
            <%= image_tag review.user.avatar, size: "75x75" %>
            <div class="media-body ml-3">
              <p class="mt-0 font-weight-bold"><%= link_to review.user.name, user_path(review.user) %></p>
              <p class="mt-n3"><%= review.user.location %></p>
            </div>
          </div>
          <div class="review-body mt-3">
            <div>
              <span><%= review.user.created_at.strftime("%F") %></span>
              <% if review.rating %>
                <span>Rating: <%= review.rating.rating %></span>
              <% end %>
            </div>

            <% if review.tag_list.count > 0 %>
            <div class="card mb-3">
              <div class="card-body">
                <ul class="tag_list">
                <% review.tag_list.each do |tag| %>
                  <li class="tag_item"><%= tag %></li>
                <% end %>
                </ul>
              </div>
            </div>
            <% end %>
            <div>
              <%= review.body %>
            </div>
          </div>

          <% if review.images.attached? %>
          <div>
            <% review.images.each do |image| %>
              <%= image_tag image, size: "500x500" %>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="col">
        <% if current_user?(review.user) %>
          <%= link_to "delete", review, method: :delete,
                                data: { confirm: "You sure?" }, class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
      <% end %>
    <% else %>
      <p>No reviews found!</p>
    <% end %>
  </main>
</div>
