<%= render "layouts/nav" %>
<div>
<iframe
width="100%"
height="500"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>
  &q=<%= @restaurant.name %> <%= @restaurant.address %>" allowfullscreen>
</iframe>
</div>
<div class="container-fluid">
  <header class="restaurant_header">
    <h1><%= @restaurant.name %></h1>
    <div>
      <% @restaurant.categories.map(&:name).each do |category| %>
      <span><%= link_to category, search_path({restaurant: {name: category}}) %><%= "," unless category == @restaurant.categories.map(&:name).last %> </span>
      <% end %>

      <% if total_ratings(@restaurant.reviews) > 0 %>
        <div>Overall Rating: <%= average_rating(sum_of_ratings(@restaurant.reviews), total_ratings(@restaurant.reviews))  %></div>
      <% end %>
    </div>
    <div>
      <%= link_to "Write a Review", new_review_path(restaurant_id: params[:id]), class: 'btn btn-primary mt-3 mb-3' %>
      <% if logged_in? && current_user.admin? %>
        <%= link_to "Delete Restaurant", @restaurant, method: :delete,
                            data: { confirm: "You sure?" }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </header>
  <main>
    <section class="border-top mt-3 pt-3">
      <h2>Location and Hours</h2>
    <div class="row">
      <div class="col">
        <div><%= @restaurant.address %></div>
        <div><%= @restaurant.phone_number %></div>
      </div>
      <div class="col">
      <table>
        <thead>
          <tr>
            <th>Day of the Week</th>
            <th>Opens At</th>
            <th>Closes At</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurant.business_hours.each do |day| %>
          <tr>
            <td><%= day.day %></td>
            <td><%= day.open_at.strftime("%H:%M %p") %></td>
            <td><%= day.close_at.strftime("%H:%M %p") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      </div>
      </section>

      <% if @restaurant.reviews.tag_counts.count > 0 %>
      <section class="border-top mt-3 pt-3">
        <h2>What users said about this location</h2>
        <ul class="tags">
          <% tag_cloud @restaurant.reviews.tag_counts, [] do |tag, _| %>
          <li><%= tag.name %></li>
          <% end %>
        </ul>
      </section>
      <% end %>

      <% if @restaurant.reviews.select { |review| review.images.attached? }.count > 0 %>
      <section class="border-top mt-3 pt-3"">
        <h2>User Photos</h2>
        <% @restaurant.reviews.select { |review| review.images.attached? }.map { |review| review.images }.flatten.each do |image| %>
          <%= image_tag image, size: "200x200", class: 'img-thumbnail' %>
        <% end %>
      </section>
      <% end %>
      <section class="border-top mt-3 pt-3">
    <h2>Reviews</h2>
    <% if @restaurant.reviews.count > 0 %>
      <% @restaurant.reviews.each do |review| %>
        <%= render partial: 'review', locals: { review: review } %>
      <% end %>
    <% else %>
      <p>No reviews found!</p>
    <% end %>
    </section>
  </main>
</div>
