<div class="container">
  <header>
    <h1><%= @restaurant.name %></h1>
    <ul>
    <% @restaurant.categories.map do |category| %>
      <li><%= category.name %></li>
    <% end %>
    </ul>
    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>
      &q=<%= @restaurant.name %> <%= @restaurant.address %>" allowfullscreen>
    </iframe>
    <div><%= @restaurant.address %></div>
    <div><%= @restaurant.phone_number %></div>
    <div>
      <%= @restaurant.hours_of_operation %>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Day of the Week</th>
            <th>Opens At</th>
            <th>Closes At</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurant.business_hours.each do |day| %>
          <tr>
            <td><%= day.day %></td>
            <td><%= day.open_at.strftime("%H:%M %p") %></td>
            <td><%= day.close_at.strftime("%H:%M %p") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <div>
        <h3>Popular times</h3>
      </div>
      <div>
        <%= link_to "Write a Review", new_review_path(restaurant_id: params[:id]) %>
      <div>
        <h3>User Photos</h3>
        <% @restaurant.reviews.select { |review| review.images.attached? }.map { |review| review.images }.flatten.each do |image| %>
          <%= image_tag(image) %>
        <% end %>
      </div>
      <div class="card">
        <h4 class="card-title">User keywords for this location</h4>
        <div class="card-body">
          <ul>
            <% tag_cloud @restaurant.reviews.tag_counts, [] do |tag, _| %>
            <li><%= tag.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
  </header>
  <main>
    <h2>Reviews</h2>
    <% if @restaurant.reviews.count > 0 %>
      <% @restaurant.reviews.each do |review| %>
    <div class="review">
      <div class="row">
        <div class="col">
          <div class="media">
            <%= image_tag(review.user.avatar) %>
            <div class="media-body">
              <h5 class="mt-0"><%= review.user.name %></h5>
              <ul>
                <li><%= review.user.location %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <h6><%= review.user.created_at %></h6>
          <div>
            <h6>overall rating</h6>
            <h6>Keywords</h6>
            <ul>
            <% review.tag_list.each do |tag| %>
              <li><%= tag %></li>
            <% end %>
            </ul>
          </div>
          <div>
            <%= review.body %>
          </div>

          <% if review.images.attached? %>
          <div>
            <% review.images.each do |image| %>
              <%= image_tag(image) %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
      <% end %>
    <% else %>
      <p>No reviews found!</p>
    <% end %>
  </main>
</div>
