<div class="container">
  <div class="row">
    <div class="col">
  <h1>Write a review</h1>
  <%= form_with(model: @review, local: true) do |f| %>

  <%= f.hidden_field :restaurant_id, value: params[:restaurant_id] %>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select([
      ["1 star", 1.0],
      ["2 stars", 2.0],
      ["3 stars", 3.0],
      ["4 stars", 4.0],
      ["5 stars", 5.0]
      ]), class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tag_list, "Keywords (separated by commas)" %>
      <%= f.text_field :tag_list, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true, class: 'form-control' %>
    </div>

    <%= f.submit "Post review" %>
  <% end %>
  </div>
  </div>
</div>
